@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600);

#header_section h1{
	color: #fff;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 200;
}
#header_section h5{
	color: #e74646;
}

#header_section p{
	color: #fff;
}
#body_section {
	/*background-color: lightblue;*/
}

#header_section img{
	width: 100%;
	border: 5px solid #449399;
}
#header_section {
	background-color: #313c4e;
}
#contact_section {
	background-color: #222a33;
	color: #fff;
	padding: 6px 0;
	font-size: 15px;
}
#contact_section .mobile{
	padding-left: 68px;
}
#contact_section .address{
	padding-left: 36px;
}

.title{	    
	font-size: 18px;
	margin: 14px 0;
	color: #449399;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;
	display: inline-block;
}


.title:after {
	position: absolute;
	left: 0%;
	content: '';
	height: 3px;
	background: #449399;
	transition: all 0.5s linear;
	width: 0;
	bottom: -4px;  
}

.title:hover:after {
	width: calc(100% - 0px);
	margin-left: 0px;
	margin-top: 10px;
}

.interest_detail span{
	border-radius: 5px;
	color: #313c4e;
	display: inline-block;
	padding: 2px 5px;	
	margin-bottom: 5px;
	border: 2px solid #313c4e;
}

.interest_detail span:hover{
	background-color: #313c4e;
	color: #fff;
	transition: background-color 2000ms ease-out;
}

#contact_section .dob{
	padding-right: 25px;
}
#language_section .circle{
	width: 20px;
    display: inline-block;
    border: 2px solid #313c4e;
    height: 20px;
    border-radius: 50%;
}
.fill {

    background-color: #313c4e;
}
.not-fill{

    background-color: #fff;
}


/*Skills Section Style*/
 .chart {
    position: relative;
    display: inline-block;
    margin: 0 10px 0 10px;
    width: 60px;
    height: 60px;
    text-align: center;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;

}
.percent {
    display: inline-block;
    line-height: 40px;
    font-size: 13px;
    margin: 8px 0 0 0px;
}

.label {
    display: block;
    margin: 5px 0 5px 0;
    text-align: center;
    font-size: 13px;
}

/*Map Style*/

#googleMap {
    height: 300px;
}

/*Social Icons Style*/
.social_icons i {
    font-size: 20px;
    color: #fff;
}

.social_icons {
    margin-right: 10px;
}

.rounded-circle:hover {
  color: #449399;
  box-shadow: 0 0 15px #449399;
  text-shadow: 0 0 15px #449399;
}



/*Progress Bar*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.progress-container {
  background-color: rgba(150, 150, 150, 0.6);
  height: 5px;
  width: 100%;
}

.progress-bar {
  background-color: #2196f3;
  height: 5px;
  width: 0%;
}


/*Portfolio*/

.portfolio-menu{
	text-align: center;
}

.portfolio-menu ul li{
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 10px 15px;
	border: 1px solid #313c4e;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.portfolio-menu ul li:hover,
.portfolio-menu ul li.active{
	background-color: #313c4e;
	color: #fff;
}

.portfolio-item {
	width: 100%;
	display: flex;
	align-content: space-between;
}

.portfolio-item .item{
	/*width: 80px;*/
	float: left;
	margin: 10px 10px 0 0;
	position: relative;

}
.portfolio-item .item canvas{
	display: none;
}

.projectDetail {
	display: none;
}
.portfolio-item .item:hover .projectDetail{
	display: block;
	position: absolute;
	text-align: center;
	background-color: rgba(128,128,128,0.5);
	width: 100%;
	height: 100%;
	padding: 30px 0;	
}

.projectDetail h4{
	color: #fff;	
}

.projectDetail p{	
	margin: 0 auto;
	color: #fff;
}
.projectDetail p a{
	color: #fff;
}

.personal_projects{
	margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
	#header_section h1 {
		font-size: 45px;
		padding: 15px 0 5px 0;
	}
	#header_section h5 {
		font-size: 30px;
	}
	#header_section p {
    	font-size: 20px;
    	padding: 15px 0;
	}
	.social_media_icons {
		text-align: center;
		padding: 15px 0;
	}
	.social_media_icons .social_icons i {
		font-size: 37px;
	}
	#contact_section .row div {
		font-size: 20px;		
	}
	
  
	#contact_section .address, #contact_section .mobile {
    	padding-left: 15px;
  }
}