@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600);

#header_section h1{
	color: #fff;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 200;
}
#header_section h5{
	color: #e74646;
}

#header_section p{
	color: #fff;
}


#header_section img{
	width: 100%;
	border: 5px solid #449399;
}
#header_section {
	background-color: #313c4e;
}
#contact_section {
	background-color: #222a33;
	color: #fff;
	padding: 6px 0;
	font-size: 15px;
}
#contact_section .mobile{
	padding-left: 68px;
}
#contact_section .address{
	padding-left: 36px;
}
.skill_tags span{
	background-color: #313c4e;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	padding: 2px 5px;	
	margin-bottom: 5px;
}
.title{	    
	font-size: 18px;
	margin: 14px 0;
	color: #449399;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;
	display: inline-block;
}


.title:after {
	position: absolute;
	left: 0%;
	content: '';
	height: 3px;
	background: #449399;
	transition: all 0.5s linear;
	width: 0;
	bottom: -4px;  
}

.title:hover:after {
	width: calc(100% - 0px);
	margin-left: 0px;
	margin-top: 10px;
}

.interest_detail span{
	border-radius: 5px;
	color: #313c4e;
	display: inline-block;
	padding: 2px 5px;	
	margin-bottom: 5px;
	border: 2px solid #313c4e;
}

#contact_section .dob{
	padding-right: 25px;
}
#language_section .circle{
	width: 20px;
    display: inline-block;
    border: 2px solid #313c4e;
    height: 20px;
    border-radius: 50%;
}
.fill {

    background-color: #313c4e;
}
.not-fill{

    background-color: #fff;
}